{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include 'users/nav.html' %}
    <section class="py-5 mt-5">
        <div class="container py-5">
            <div class="row">
                <div class="col-md-8 col-xl-6 text-center mx-auto">
                    <h2 class="display-6 fw-bold mb-4">Vous avez des <span class="underline">questions</span>?</h2>
                    <p class="text-muted">Notre équipe est toujours là pour vous aider. Envoyez-nous un message et nous vous répondrons dans les plus brefs délais.</p>
                </div>
            </div>
            <div class="row d-flex justify-content-center">
                <div class="col-md-6">
                    <div>
                        <form class="p-3 p-xl-4" method="post" data-bs-theme="light">
                            <div class="mb-3"><input class="shadow form-control" type="text" id="name-1" name="name" placeholder="Name"></div>
                            <div class="mb-3"><input class="shadow form-control" type="email" id="email-1" name="email" placeholder="Email"></div>
                            <div class="mb-3"><textarea class="shadow form-control" id="message-1" name="message" rows="6" placeholder="Message"></textarea></div>
                            <div><button class="btn btn-primary shadow d-block w-100" type="submit">Envoyer </button></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% include 'tarification/FAQ.html' %}
    {% include 'tarification/footer.html' %}
{% endblock content %}