{% extends 'base.html' %}
{% load static %}
{% block content %}
    {% include 'users/nav.html' %}
    <header class="pt-5">
        <div class="container pt-4 pt-xl-5">
            <div class="row pt-5">
                <div class="col-md-8 text-center text-md-start mx-auto">
                    <div class="text-center">
                        <h1 class="display-4 fw-bold mb-5">Contrôlez Votre Maison de Partout avec WhatsApp</span>.</h1>
                        <p class="fs-5 text-muted mb-5">Abonnez-vous dès aujourd'hui !
Ne manquez pas les nouvelles fonctionnalités et les mises à jour. Abonnez-vous maintenant pour être informé des dernières nouveautés et profitez de tous les avantages d'une maison intelligente sur WhatsApp.</p>
                        <form class="d-flex justify-content-center flex-wrap" method="post" data-bs-theme="light">
                            <div class="shadow-lg mb-3"><input class="form-control" type="email" name="email" placeholder="Votre Email"></div>
                            <div class="shadow-lg mb-3"><button class="btn btn-primary" type="submit">S'abonner </button></div>
                        </form>
                    </div>
                </div>
                <div class="col-12 col-lg-10 mx-auto">
                    <div class="text-center position-relative"><img class="img-fluid" src="{% static "users/assets/img/header.jpeg" %}" style="width: 800px;"></div>
                </div>
            </div>
        </div>
    </header>
    <section>
        <div class="container py-4 py-xl-5">
            <div class="row gy-4 gy-md-0">
                <div class="col-md-6 text-center text-md-start d-flex d-sm-flex d-md-flex justify-content-center align-items-center justify-content-md-start align-items-md-center justify-content-xl-center">
                    <div><img class="rounded img-fluid fit-cover" style="min-height: 300px;" src="{% static 'users/assets/img/section-famille.jpg' %}" width="800"></div>
                </div>
                <div class="col">
                    <div style="max-width: 450px;">
                        <h3 class="fw-bold pb-md-4">Une maison intelligente pour toute la <span class="underline">famille</span></h3>
                        <p class="text-muted py-4 py-md-0">Avec notre solution, toute la famille peut interagir avec votre maison intelligente. Nous offrons plusieurs comptes individuels ainsi qu'un compte familial pour une gestion collective.</p>
                        <div class="row gy-4 row-cols-2 row-cols-md-2">
                            <div class="col">
                                <div><span class="fs-2 fw-bold text-primary bg-secondary">2</span>
                                    <p class="fw-normal text-muted">Comptes individuels</p>
                                </div>
                            </div>
                            <div class="col">
                                <div><span class="fs-2 fw-bold text-primary bg-secondary">5</span>
                                    <p class="fw-normal text-muted">Comptes familiaux</p>
                                </div>
                            </div>
                            <div class="col">
                                <div><span class="fs-2 fw-bold text-primary bg-secondary">10+</span>
                                    <p class="fw-normal text-muted">Comptes pour amis</p>
                                </div>
                            </div>
                            <div class="col">
                                <div><span class="fs-2 fw-bold text-primary bg-secondary">15+</span>
                                    <p class="fw-normal text-muted">Comptes pour invités</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="py-5">
        <div class="container py-4 py-xl-5">
            <div class="row mb-5">
                <div class="col-md-8 col-xl-6 text-center mx-auto">
                    <h2 class="display-6 fw-bold mb-4">Ne trainez pas pour souscrire ou vous réabonner</h2>
                </div>
            </div>
            <div class="row gy-4 row-cols-1 row-cols-md-2 row-cols-lg-3">
                <div class="col">
                    <div class="card border-0 h-100">
                        <div class="card-body d-flex flex-column justify-content-between p-4">
                            <div>
                                <h6 class="fw-bold text-muted">Standard</h6>
                                <h4 class="display-5 fw-bold mb-4">5,00 USD</h4>
                                <ul class="list-unstyled">
                                    <li class="d-flex mb-2"><span class="bs-icon-xs bs-icon-rounded bs-icon me-2">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icon-tabler-check fs-5 text-primary-emphasis">
                                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                            <path d="M5 12l5 5l10 -10"></path>
                                        </svg></span><span>Un abonnement d'un mois</span></li>
                                    <li class="d-flex mb-2"><span class="bs-icon-xs bs-icon-rounded bs-icon me-2">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icon-tabler-check fs-5 text-primary-emphasis">
                                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                            <path d="M5 12l5 5l10 -10"></path>
                                        </svg></span><span>50 messages par jours</span></li>
                                    <li class="d-flex mb-2"><span class="bs-icon-xs bs-icon-rounded bs-icon me-2">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icon-tabler-check fs-5 text-primary-emphasis">
                                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                            <path d="M5 12l5 5l10 -10"></path>
                                        </svg></span><span>Pour 2 comptes seulement</span></li>
                                </ul>
                            </div><a class="btn btn-primary" role="button" href="{% url 'subscribe' 'standard' %}">Souscrire</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card border-secondary border-2 h-100">
                        <div class="card-body d-flex flex-column justify-content-between p-4"><span class="badge bg-secondary position-absolute top-0 end-0 rounded-bottom-left text-uppercase text-primary">Famille restreint</span>
                            <div>
                                <h4 class="display-5 fw-bold mb-4">10,00 USD</h4>
                                <ul class="list-unstyled">
                                    <li class="d-flex mb-2"><span class="bs-icon-xs bs-icon-rounded bs-icon me-2">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icon-tabler-check fs-5 text-primary-emphasis">
                                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                            <path d="M5 12l5 5l10 -10"></path>
                                        </svg></span><span>Un abonnement d'un mois</span></li>
                                    <li class="d-flex mb-2"><span class="bs-icon-xs bs-icon-rounded bs-icon me-2">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icon-tabler-check fs-5 text-primary-emphasis">
                                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                            <path d="M5 12l5 5l10 -10"></path>
                                        </svg></span><span>100 messages par jours</span></li>
                                    <li class="d-flex mb-2"><span class="bs-icon-xs bs-icon-rounded bs-icon me-2">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icon-tabler-check fs-5 text-primary-emphasis">
                                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                            <path d="M5 12l5 5l10 -10"></path>
                                        </svg></span><span>Pour 10 comptes seulement</span></li>
                                </ul>
                            </div><a class="btn btn-outline-secondary border-2" role="button" href="{% url 'subscribe' 'family_restricted' %}">Souscrire</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card border-0 h-100">
                        <div class="card-body d-flex flex-column justify-content-between p-4">
                            <div>
                                <h6 class="fw-bold text-muted">Famille élargie</h6>
                                <h4 class="display-5 fw-bold mb-4">15,00 USD</h4>
                                <ul class="list-unstyled">
                                    <li class="d-flex mb-2"><span class="bs-icon-xs bs-icon-rounded bs-icon me-2">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icon-tabler-check fs-5 text-primary-emphasis">
                                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                            <path d="M5 12l5 5l10 -10"></path>
                                        </svg></span><span>Un abonnement d'un mois</span></li>
                                    <li class="d-flex mb-2"><span class="bs-icon-xs bs-icon-rounded bs-icon me-2">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icon-tabler-check fs-5 text-primary-emphasis">
                                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                            <path d="M5 12l5 5l10 -10"></path>
                                        </svg></span><span>Illimité messages</span></li>
                                    <li class="d-flex mb-2"><span class="bs-icon-xs bs-icon-rounded bs-icon me-2">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icon-tabler-check fs-5 text-primary-emphasis">
                                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                            <path d="M5 12l5 5l10 -10"></path>
                                        </svg></span><span>Illimité comptes</span></li>
                                </ul>
                            </div><a class="btn btn-primary" role="button" href="{% url 'subscribe' 'family_extended' %}">Souscrire</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {% include 'tarification/FAQ.html' %}
    {% include 'tarification/footer.html' %}
{% endblock content %}